.profile-card {
    background-color: var(--color-gray-800);
    border-radius: 10px;
    text-align: center;
    width: 23rem;
    height: 39rem;
    margin: 10rem auto 0;
    padding: 3rem;
}

.profile-card___img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto 2rem;
}

.profile-card___name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.profile-card___location {
    font-weight: 600;
    color: var(--color-green);
}

.profile-card___bio {
    font-weight: 400;
    opacity: 0.7;
}

.profile-card___location,
.profile-card___bio {
    margin-bottom: 1rem;
}

.profile-card___button {
    background-color: var(--color-gray-700);
    border-radius: 7px;
    font-weight: 700;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.profile-card___button:last-child {
    margin: 0;
}

.profile-card___button:hover {
    background-color: var(--color-green);
    color: var(--color-gray-700);
}

.profile-card___button:active {
    opacity: 0.7;
}

@media (max-width: 375px) {
    .profile-card {
        width: 21rem;
        height: 36.5rem;
        margin: 8rem auto 0;
        padding: 1.5rem;
    }
}
